#!/bin/sh
iptables -t nat -I POSTROUTING 1 -s 10.8.0.0/24 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
iptables -I INPUT 1 -i tun0 -j ACCEPT
iptables -I FORWARD 1 -i {{ ansible_default_ipv4.interface }} -o tun0 -j ACCEPT
iptables -I FORWARD 1 -i tun0 -o {{ ansible_default_ipv4.interface }} -j ACCEPT
iptables -I INPUT 1 -i {{ ansible_default_ipv4.interface }} -p {{ openvpn_prot }} --dport {{ openvpn_port }} -j ACCEPT